<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Форма регистрации</h2>
    <form method="post">
        {% csrf_token %}
        <h2>Персональные данные</h2>
        {{ person_data.last_name }}<br>
        {{ person_data.first_name }}<br>
        {{ person_data.patronymic }}<br>
        {{ person_data.phone_number }}<br>
        <h2>СНИЛС</h2>
        {{ snils_data.number_of_snils }}<br>
        <h2>Паспортные данные</h2>
        {{ passport_data.series_number }}<br>
        {{ passport_data.issue_date }}<br>
        {{ passport_data.who_issued }}<br>
        {{ passport_data.department_code }}<br>
        {{ passport_data.dob }}<br>
        {{ passport_data.place_of_birth }}<br>
        <button type="submit">Отправить данные</button>
        <span>{{ error }}</span>
    </form>
</body>
</html>
